.form {
    a {
        transition: all .3s ease;
    }

    &-code {
        display: flex;
        align-items: center;
        gap: 16px;

        a {
            text-decoration: underline;

            &:hover {
                color: inherit;
                text-decoration: none;
            }
        }
    }

    &-timer {
        display: flex;
        align-items: center;
        gap: 8px;
        color: var(--gray, #585858);

        .icon {
            font-size: 20px;
        }

        &.error {
            color: var(--red, #C73C3C);
        }
    }

    &-link {
        color: var(--black, #111);

        a {
            color: inherit;
        }
    }

    &-label {
        margin-bottom: 4px;
    }

    &-field {
        position: relative;
        margin-bottom: 32px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &-control {
        height: 42px;
        border-color: var(--gray-light, #DADADA);
        color: var(--gray, #585858);
        padding: 10px;
        transition: all .3s ease;

        &:hover {
            border-color: var(--green, #0C674B);
        }

        &:disabled {
            border: 1px solid var(--gray-light-2, #F0F0F0);
            background: var(--gray-light-2, #F0F0F0);
        }

        &.error {
            border: 1px solid var(--red, #C73C3C);
        }
    }

    &-error {
        color: var(--red, #C73C3C);
        position: absolute;
        top: auto;
    }

    &-check-input {
        transform: translateY(2px);
        transition: all .3s ease;
    }

    &-check {
        align-items: flex-start;
    }

    &-check,
    &-check-label {
        cursor: pointer;
    }

    &-check:hover .form-check-input {
        border-color: #0C674B;
    }

    &-link {
        text-align: right;

        a {
            color: var(--black, #111);
        }
    }

    &-password-btn {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: none;
    }

    &-text {
        margin-top: 24px;
    }

    &-password {
        position: relative;

        &-btn {
            background: inherit;
            border: none;
            padding: 0;
            font-size: 1rem;
            color: var(--gray, #585858);
            transition: all .3s ease;

            &:hover {
                color: var(--green, #0C674B);
            }

            .icon {
                &-eye-slash {
                    opacity: 0;
                    visibility: hidden;
                    font-size: 0;
                }
            }

            &.slash {
                .icon-eye {
                    opacity: 0;
                    visibility: hidden;
                    font-size: 0;

                    &-slash {
                        opacity: 1;
                        visibility: visible;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    &-notification {
        text-align: center;
        font-size: 14px;
        margin-top: 8px;
    }

    &-success {
        border-color: var(--green, #0C674B);
    }
}

.auth {
    &-nav {
        display: flex;
        align-items: center;
        margin: 60px 0 -61px 0;

        &-link {
            border-bottom: 1px solid var(--green, #0C674B);
            background: var(--gray-light-2, #F0F0F0);
            height: 44px;
            display: flex;
            padding: 12px 20px;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            color: var(--gray, #585858);
            text-decoration: none;
            transition: all .3s ease;
            flex: 1;
            border-top: 1px solid var(--gray-light-2, #F0F0F0);
            border-right: 1px solid var(--gray-light-2, #F0F0F0);
            border-left: 1px solid var(--gray-light-2, #F0F0F0);

            &:first-child {
                border-radius: 4px 0 0;
            }

            &:last-child {
                border-radius: 0 4px 0 0;
            }

            &:hover,
            &.active {
                background: var(--white, #FFF);
                color: var(--black, #111);
                border-color: var(--green, #0C674B);
                border-bottom-color: var(--white, #FFF);
            }
        }

        &-step {
            display: flex;
            counter-reset: steps;
            list-style-type: none;
            padding: 0;
            margin: 0 0 37px;

            &-item {
                color: var(--black, #111);
                text-align: center;
                font-size: 14px;
                position: relative;
                padding: 48px 32px 0;
                flex: 1;

                &::before {
                    counter-increment: steps;
                    content: counter(steps);
                    position: absolute;
                    left: 50%;
                    top: 0;
                    transform: translateX(-50%);
                    width: 2rem;
                    height: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--black, #111);
                    font-size: 16px;
                    font-weight: 700;
                    border: 1px solid var(--gray-light, #DADADA);
                    border-radius: 50%;
                }

                &.active {
                    &::before {
                        background: var(--green, #0C674B);
                        color: var(--white, #FFF);
                        border-color: var(--green, #0C674B);
                    }
                }

                &:not(:first-child):after {
                    content: '';
                    position: absolute;
                    right: calc(50% + 4px + 1rem);
                    top: 16px;
                    width: calc(100% - 8px - 2rem);
                    height: 1px;
                    background-color: #DADADA;
                }
            }
        }
    }

    @media screen and (max-width: 800px) {
        &-nav {
            &-step {
                display: none;
            }

            &-link {
                padding: 12px 0;
            }
        }

        &-form {
            .btn-form {
                padding: 0 24px;
            }
        }
    }
}

.auth-form {
    @media screen and (min-width: 768px) {
        &-wrap {
            max-width: 725px;
            margin: auto;
        }
    }

    @media screen and (max-width: 768px) {
        margin-bottom: 120px;
    }

    @media screen and (max-width: 560px) {
        margin-bottom: 50px;
    }
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;

    &-eye-slash {
        width: 1.0361328125em;
    }
}

.auth-form form .form-link a {
    color: var(--black, #111);

    &:hover {
        color: var(--green, #0C674B);
    }
}

.user {
    ::-moz-selection {
        color: var(--white, #FFF);
        background: var(--green, #0C674B);
        ;
    }

    ::selection {
        color: var(--white, #FFF);
        background: var(--green, #0C674B);
    }

    $block: &;

    padding: 24px 0 140px;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    background: var(--gray-light-2, #F0F0F0);

    img {
        max-width: 100%;
    }

    &-nav {
        flex: 0 0 auto;
        width: 378px;
        padding: 40px 0px 80px 0px;
        border-radius: 0px 4px 4px 0px;
        background: var(--white, #FFF);
        position: sticky;
        top: 30px;

        &-title {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 24px;
            padding: 0 24px;
        }

        &-list {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        &-item {
            position: relative;

            &.active {
                #{$block}-nav-link {
                    border-color: var(--green, #0C674B);
                    background: var(--green-light, #DDFFEB);
                }
            }

            &:last-child {
                margin-top: 24px;
            }

            &-dropdown {
                &.open {
                    #{$block}-nav-dropdown-wrap {
                        grid-template-rows: 1fr;
                    }

                    .icon-caret_up {
                        transform: translateY(-50%);
                    }
                }
            }
        }

        &-link {
            display: flex;
            padding: 12px 12px 12px 24px;
            min-height: 52px;
            align-items: center;
            gap: 16px;
            position: relative;
            color: var(--black, #111);
            text-decoration: none;
            border-left: 1px solid transparent;
            transition: all .3s ease;

            &:hover {
                color: var(--black, #111);
                border-color: var(--green, #0C674B);
                background: var(--green-light, #DDFFEB);
            }

            .icon {
                font-size: 22px;
            }

            .icon-caret_up {
                position: absolute;
                right: 12px;
                top: 50%;
                transform: translateY(-50%) rotate(180deg);
                font-size: 20px;
                transition: all .3s ease;
            }
        }

        &-dropdown {
            margin: 0;
            padding: 0;
            list-style-type: none;
            overflow: hidden;

            &-wrap {
                display: grid;
                grid-template-rows: 0fr;
                transition: grid-template-rows .3s;
            }

            &-item {

                &.active,
                &:hover {
                    #{$block}-nav-dropdown-link {
                        border-color: var(--green, #0C674B);
                        background: var(--green-light, #DDFFEB);
                        color: var(--black, #111);
                    }
                }
            }

            &-link {
                min-height: 46px;
                display: flex;
                padding: 12px 0px 12px 64px;
                color: var(--black, #111);
                text-decoration: none;
                border-left: 1px solid transparent;
                transition: all .3s ease;
            }
        }
    }

    &-content {
        flex: 0 0 auto;
        width: 100%;
        max-width: 952px;
        padding: 40px;
        border-radius: 4px;
        background: var(--white, #FFF);
        position: sticky;
        top: 16px;
    }

    &-special {
        margin-top: 56px;

        &-item {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &-item:not(:last-child) {
            margin-bottom: 30px;
        }

        &-title {
            font-size: 24px;
            font-weight: 500;
            margin: 0;
        }

        &-link {
            font-weight: 500;
            color: var(--gray, #585858);

            &:hover {
                text-decoration: none;
                color: var(--green, #0C674B);
            }
        }
    }

    &-container {
        max-width: 592px;
        margin: auto;
    }

    &-btn {
        width: 100%;
    }

    &-title {
        margin: 0 0 8px;
        font-size: 32px;
        font-weight: 500;
        color: var(--black, #111);
        line-height: 120%;
    }

    &-list {
        list-style-type: none;
        margin: 0 0 56px;
        padding: 0;

        li {
            padding-left: 16px;
            position: relative;

            &:not(:last-child) {
                margin-bottom: 8px;
            }

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 8px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: var(--green, #0C674B);
            }
        }
    }

    &-bonus {
        margin-top: 56px;
        gap: 16px;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;

        &-text {
            flex: 1;

            .form-field {
                width: 100%;
                margin-bottom: 16px;
            }
        }

        &-list {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-template-rows: repeat(4, auto);
            grid-column-gap: 8px;
            grid-row-gap: 16px;
            margin-bottom: 40px;
        }

        &-title {
            color: var(--gray, #585858);
            position: relative;
            font-weight: 400;

            span {
                position: relative;
                display: flex;
                align-items: flex-end;
                gap: 8px;

                &::after {
                    content: '';
                    flex: 1;
                    height: 1px;
                    background: var(--gray-light, #DADADA);
                }
            }
        }

        &-value {
            margin: 0;
            color: var(--black, #111);
            font-weight: 500;
        }

        &-unlink {
            color: var(--gray, #585858);
            font-weight: 500;
            transition: all .3s;

            &:hover {
                color: var(--green, #0C674B);
            }
        }
    }

    &-order {
        &-title {
            display: flex;
            color: var(--gray, #585858);
            font-size: 24px;
            font-weight: 500;
            margin: 0;

            &-transit,
            &-delivered {
                --bgc: var(--green);
            }

            &-waiting {
                --bgc: var(--gray);
            }

            &-cancelled {
                --bgc: var(--red);
            }

            &::after {
                content: attr(data-status);
                margin-left: auto;
                display: flex;
                padding: 4px 8px;
                justify-content: center;
                align-items: center;
                border-radius: 12px;
                background: var(--bgc);
                font-size: 14px;
                color: var(--white, #FFF);
                font-size: 14px;
                font-weight: 400;
            }
        }

        &-section {
            margin-top: 56px;
        }

        &-item {
            padding: 24px 16px;
            border-bottom: 1px solid var(--gray-light, #DADADA);
            margin: 0;

            .cart__item-color__box {
                background-color: var(--product-color);
            }
        }

        &-total {
            display: flex;
            justify-content: space-between;
            margin-top: 24px;

            &-col {
                min-width: 250px;
            }

            &-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 16px;
            }

            &-title {
                color: var(--gray, #585858);
            }

            &-sum {
                font-size: 24px;
                color: var(--black, #111);
                font-weight: 500;
                margin-bottom: 8px;
                white-space: nowrap;
            }

            &-bonus {
                font-size: 14px;
                color: var(--gray, #585858);
            }

            &-text {
                color: var(--gray, #585858);
                margin-bottom: 16px;
                white-space: nowrap;
                
                strong {
                    font-weight: 600;
                    color: var(--black, #111);
                }
            }

            &-title {
                margin-bottom: 16px;
                color: var(--gray, #585858);
            }
        }

        &-button {
            .btn {
                width: 100%;

                &-form {
                    margin-top: 24px;
                }
            }
        }
    }

    &-popup {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 40px 5px 0;

        .form {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .btn-form {
            margin-left: auto;
            margin-right: auto;
        }

        &-notification {
            text-align: center;
        }
    }

    &-contact {
        &-text {
            margin-top: 8px;
        }

        &-button {
            margin-bottom: 80px;
        }

        &-city {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            margin-bottom: 56px;

            &-link {
                display: flex;
                padding: 4px 8px;
                justify-content: center;
                align-items: center;
                border-radius: 12px;
                background: var(--gray-light-3, #F5F5F5);
                color: var(--gray, #585858);
                text-decoration: none;
                font-size: 14px;
                transition: all .3s ease;

                &:hover,
                &.active {
                    background: var(--green, #0C674B);
                    color: var(--white, #FFF);
                }
            }
        }

        &-title {
            padding: 0 24px;
            margin: 0 0 24px;
            color: var(--black, #111);
            font-size: 24px;
            font-weight: 500;
        }

        &-info {
            padding: 0 24px;
            margin-bottom: 56px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;

            a {
                color: var(--blue-dark, #0C2B67);
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            &-title,
            &-text {
                padding: 8px;
                border-bottom: 1px solid var(--gray-light, #DADADA);
                margin: 0;
            }

            &-title {
                color: var(--black, #111);
                font-weight: 600;
            }

            &-text {
                color: var(--gray, #585858);
                text-align: right;
            }
        }
    }

    @media screen and (max-width: 1400px) {
        &-content {
            max-width: 100%;
            width: auto;
            flex: 1;
        }
    }

    @media screen and (max-width: 900px) {
        padding: 40px 20px 120px;
        background: var(--white, #FFF);

        &-content {
            padding: 0;
        }

        &-nav {
            display: none;

            &.active {
                position: absolute;
                display: block;
                width: 100vw;
                top: 90px;
                left: 0;
                bottom: 97px;
                z-index: 1000;
            }
        }

        &-popup {
            .btn-form {
                margin-top: auto;
                margin-bottom: 20px;
            }
        }

        &-title {
            font-size: 1.91rem;
        }

        &-contact {
            &-button {
                margin-bottom: 40px;

                .btn {
                    width: 100%;
                    margin-top: 56px;
                }
            }

            &-city {
                flex-wrap: nowrap;
                overflow-x: auto;
                padding: 16px 0;
                margin-bottom: 16px;
            }

            &-wrap {
                padding-top: 24px;
                border-radius: 4px;
                border: 1px solid var(--gray-light, #DADADA);
                margin-bottom: 16px;
            }

            &-info {
                margin: 0 0 24px;
            }
        }

        &-special {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
            grid-template-rows: 1fr;
            grid-column-gap: 20px;
            grid-row-gap: 20px; 
        }
    }

    @media screen and (max-width: 576px) {
        padding: 40px 20px 80px;

        &-contact {
            &-text {
                font-size: 14px;
            }

            &-title {
                padding: 0 16px;
            }

            &-info {
                padding: 0 16px;

                &-text {
                    font-size: 14px;
                }
            }
        }

        &-order {
            &-total {
                display: flex;
                flex-direction: column;
                gap: 16px;

                &-col {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                }

                &-title,
                &-text,
                &-sum {
                    margin-bottom: 0;
                }
            }

            &-title {
                font-size: 16px;
            }
        }

        &-bonus {
            display: block;
            margin-top: 40px;

            &-img {
                margin: 0 auto 16px;
                display: block;
            }
        }
    }
}