.form a {
  transition: all 0.3s ease;
}
.form-link {
  color: var(--black, #111);
}
.form-link a {
  color: inherit;
}
.form-label {
  margin-bottom: 4px;
}
.form-field {
  position: relative;
  margin-bottom: 32px;
}
.form-field:last-of-type {
  margin-bottom: 0;
}
.form-control {
  height: 42px;
  border-color: var(--gray-light, #DADADA);
  color: var(--gray, #585858);
  padding: 10px;
}
.form-check-input {
  transition: all 0.3s ease;
}
.form-check, .form-check-label {
  cursor: pointer;
}
.form-check:hover .form-check-input {
  border-color: #0C674B;
}
.form-link {
  text-align: right;
}
.form-link a {
  color: var(--black, #111);
}
.form-password-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
}
.form-text {
  margin-top: 24px;
}
.form-password {
  position: relative;
}
.form-password-btn {
  background: inherit;
  border: none;
  padding: 0;
  font-size: 1rem;
  color: var(--gray, #585858);
  transition: all 0.3s ease;
}
.form-password-btn:hover {
  color: var(--green, #0C674B);
}
.form-password-btn .icon-eye-slash {
  opacity: 0;
  visibility: hidden;
  font-size: 0;
}
.form-password-btn.slash .icon-eye {
  opacity: 0;
  visibility: hidden;
  font-size: 0;
}
.form-password-btn.slash .icon-eye-slash {
  opacity: 1;
  visibility: visible;
  font-size: 16px;
}

.auth-nav {
  display: flex;
  align-items: center;
  margin: 60px 0 -61px 0;
}
.auth-nav-link {
  border-bottom: 1px solid var(--green, #0C674B);
  background: var(--gray-light-2, #F0F0F0);
  height: 44px;
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: var(--gray, #585858);
  text-decoration: none;
  transition: all 0.3s ease;
  flex: 1;
  border-top: 1px solid var(--gray-light-2, #F0F0F0);
  border-right: 1px solid var(--gray-light-2, #F0F0F0);
  border-left: 1px solid var(--gray-light-2, #F0F0F0);
}
.auth-nav-link:first-child {
  border-radius: 4px 0 0;
}
.auth-nav-link:last-child {
  border-radius: 0 4px 0 0;
}
.auth-nav-link:hover, .auth-nav-link.active {
  background: var(--white, #FFF);
  color: var(--black, #111);
  border-color: var(--green, #0C674B);
  border-bottom-color: var(--white, #FFF);
}
.auth-nav-step {
  display: flex;
  counter-reset: steps;
  list-style-type: none;
  padding: 0;
  margin: 0 0 37px;
}
.auth-nav-step-item {
  color: var(--black, #111);
  text-align: center;
  font-size: 14px;
  position: relative;
  padding: 48px 32px 0;
  flex: 1;
}
.auth-nav-step-item::before {
  counter-increment: steps;
  content: counter(steps);
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black, #111);
  font-size: 16px;
  font-weight: 700;
  border: 1px solid var(--gray-light, #DADADA);
  border-radius: 50%;
}
.auth-nav-step-item.active::before {
  background: var(--green, #0C674B);
  color: var(--white, #FFF);
  border-color: var(--green, #0C674B);
}
.auth-nav-step-item:not(:first-child):after {
  content: "";
  position: absolute;
  right: calc(50% + 4px + 1rem);
  top: 16px;
  width: calc(100% - 8px - 2rem);
  height: 1px;
  background-color: #DADADA;
}

@media screen and (min-width: 768px) {
  .auth-form-wrap {
    max-width: 725px;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .auth-form {
    margin-bottom: 120px;
  }
}
@media screen and (max-width: 560px) {
  .auth-form {
    margin-bottom: 50px;
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-eye-slash {
  width: 1.0361328125em;
}

.auth-form form .form-link a {
  color: var(--black, #111);
}
.auth-form form .form-link a:hover {
  color: var(--green, #0C674B);
}

.user {
  padding: 60px 0 140px;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  background: var(--gray-light-2, #F0F0F0);
}
.user-nav {
  flex: 0 0 auto;
  width: 378px;
  padding: 40px 0px 80px 0px;
  border-radius: 0px 4px 4px 0px;
  background: var(--white, #FFF);
  position: sticky;
  top: 30px;
}
.user-content {
  flex: 0 0 auto;
  padding: 40px;
  border-radius: 4px;
  background: var(--white, #FFF);
}/*# sourceMappingURL=new.css.map */