.form {
    &-label {
        margin-bottom: 4px;
    }

    &-control {
        height: 42px;
        border-color: var(--gray-light, #DADADA);
        color: var(--gray, #585858);
        padding: 10px;
    }

    &-check-input {
        transition: all .3s ease;
    }

    &-check,
    &-check-label {
        cursor: pointer;
    }

    &-check:hover .form-check-input {
        border-color: #0C674B;
    }

    &-link {
        text-align: right;
        
        a {
            color: var(--black, #111);
        }
    }

    &-password-btn {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;

    &-EyeSlash {
        width: 1.0361328125em;
    }
}